html, body {
    height: 100%;
}
.body {
    background-image: url(../img/rana-sawalha-364253-unsplash.png);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Verdana;
    min-height: 100vh;
}
.clearfix {
    clear: both;
}
.header {
    background: rgba( 0, 0, 0, 0.5);
}
a {
    color: #ffffff;
    text-decoration: none;
}
.logo {
    text-transform: uppercase;
    color: white;
    font-size: 20px;
    float: left;
    font-weight: 700;
    padding: 15px;
    margin-left: 40px;
}
.logo:hover h1 {
    color:rgb(60, 184, 120);
    cursor: pointer;
}
.icon_header {
    width: 35px;
    height: 30px;
    background-repeat: no-repeat;
    display: inline-block;
    background-image: url(../img/spritesheet.png);
}
.sms {
    background-position: -35px 0;
}
.compass {
    background-position: -70px 0;
}
.calc:hover {
    background-image: url(../img/spritesheet.png);
    background-position: 0 -40px;
}
.sms:hover {
    background-image: url(../img/spritesheet.png);
    background-position: -35px -40px;
}
.compass:hover {
    background-image: url(../img/spritesheet.png);
    background-position: -70px -40px;
}
.icon {
    float: right;
    margin-right: 40px;
}
.position {
    position: relative;
    bottom: 5px;
}
.welcome {
    color: white;
    display: inline-block;
}
.welcome::before {
      content: '';
      display: inline-block;
      height: 20px;
      border-left: 1px solid rgb(190, 190, 190);
      padding-left: 15px;
      margin-top: 15px;
}
.green {
    color: #3cb878;
    font-size: 14px;
    cursor: pointer;
}
.green:hover {
    text-decoration: underline;
}
.section {
    background: white;
    border-radius: 1%;
    width: 444px;
    height: 584px;
    box-shadow: 0px 4px 18px 0px rgba(0, 0, 0, 0.52);
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}
.vertical {
    height: calc(100vh - 50px);
}
.container {
    padding: 20px 60px;
    position: relative;
}
.square {
    position: absolute;
    left: 0;
    background-image: url(../img/shape.png);
    width: 18px;
    height: 18px;
}
.left {
    float: left;
    color: #434343;
}
.right {
    float: right;
    text-align: right;
}
.text {
    margin-bottom: 15px;
    font-size: 16px;
}
.facebook {
    border-radius: 3px;
    background-color: #305db8;
    color: white;
    width: 157px;
    height: 46px;
    text-align: right;
    padding: 14px;
}
i::after {
      content: '';
      display: inline-block;
      height: 15px;
      border-left: 1px solid rgb(190, 190, 190);
      margin-left: 15px;
}
i {
    margin-right: 25px;
}
.google {
    border-radius: 3px;
    background-color: #df4a32;
    color: white;
    width: 157px;
    height: 46px;
    padding: 14px;
}
.title {
  overflow: hidden;
  position: relative;
  text-align: center;
  white-space: nowrap;
  color: #848484;
  margin-top: 30px;      
}
.title:before,
.title:after {
  content: '';
  display: inline-block;
  position: relative;
  top: -1px;
  width: 50%;
  height: 1px;
  vertical-align: middle;
  background: rgb(190, 190, 190);
}
.title:before {
  left: -10px;
  margin-left: -50%;
}
.title:after {
  left: 10px;
  margin-right: -50%;
}
.form {
    width: 322px;
    height: 40px;
    margin-top: 20px;
    padding-left: 10px;
    border-color:  rgba( 0, 0, 0, 0.1);
    border-width: thin;
    border-radius: 5px;
}
.button {
    width: 322px;
    height: 46px;
    background-color: rgb(60, 184, 120);
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 3px;
    border: 1px solid rgb(60, 184, 120);
    letter-spacing: 1px;
}
.form:focus {
    outline-color: rgb(190, 190, 190);
    border-radius: 5px;
    box-shadow: 2px 2px 3px rgb(190, 190, 190);
}